:root {
    --logo-bg: #222f3e;
    --navbar-bg: #354758;
    --header-bg: #f56600;
    --link-color: #017185;
    --page-bg: #EAEDED;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--page-bg);
}

.navbar {
    background-color: var(--logo-bg)
}

.logo {
    margin-left: 30px;
    padding: 10px;
}

.logo-img {
    width: 150px;
}

.bottomnavbar {
    background-color: var(--navbar-bg);
    color: white;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0 40px 0 40px;
    padding: 7px;
}

.spacing {
    padding: 20px;
}

.header {
    margin-top: 10px;
}

.headertitle {
    background-color: var(--header-bg);
    color: white;
    padding: 10px;
}

.headertitle h3 {
    margin: 0;
    padding: 3px;
    font-weight: 500;
    text-align: center;

}

.headerImg-container {
    background-image: url(./assets/bg-image.png);
    background-repeat: repeat;
    background-size: contain;
    margin-top: 20px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerImg {
    width: 100%;
    margin-top: 20px;
}

.header-text {
    color: white;
}

.header-text h2,
.header-text h5 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-text h2 {
    padding: 20px;
    font-size: 35px;
}

.header-text h5 {
    font-size: 20px;
}

.first-section {
    padding: 20px;
    margin-top: -10px;
}

.textproduct {
    padding: 10px;
}

.textproduct span {
    color: var(--link-color);
}

.productContainer {
    background-color: white;
}

.main-imgcontainer {
    background-color: white;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 25px;  
}

.productImg {
    width: 200px;
    border-radius: 15px;
    min-height: 300px;
    object-fit: cover;
}

.endsection {
    text-align: center;
}

.endsectionImg {
    width: 100%;
    object-fit: cover;
}

.gotop {
    background-color: var(--navbar-bg);
    color: white;
    text-align: center;
    padding: 10px;
}

.bottomlogo {
    background-color: var(--logo-bg);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomlogoimg {
    height: 100px;
    margin-top: 50px;
}


