
body {
    background-color: black;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titolo {
    max-height: fit-content;
    padding: 30px;
    background-color: blue;

}

.barramenu {
    background-color: chartreuse;
    color: white;
    padding: 5px;
}

a {
    font-size: 20px;
    padding-left: 30px;
}

.main {
    margin: 20px;
}

h3 {
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
}

.bg-image {
    background-image: url(bg-image.png);
    flex: content;
    position: relative;
}

h1, h2 {
    text-align: center;
    color: white;
}

.coontainer {
    background-color: crimson;
    width: 100%;
    height: auto;
}

.highlights{
    margin-top: 30px;
}

.divImg{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 30px;
    object-fit: cover;
    float: left;
}

.hlimg {
    width: 100%;
    height: auto;
}

.foot {
    width: 100%;
    height: auto;
}

.imgfoot {
    object-fit: cover;
}

p {
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color: cyan;
}

.bottomlogo {
    width: auto;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: blueviolet;
}